<!-- RESPONSIVE MENU -->
<div id="responsive-menu">
	<a href="#" id="responsive-menu-list">
		<div class="responsive-menu-bar">
			<span>Menu</span>
			<i class="fa fa-list"></i>
		</div>
	</a>
	<ul class="responsive-menu-disable">
		<li>
			<a href="#content-wrap" class="page-scroll-responsive">
				<i class="fa fa-long-arrow-left"></i>
				<h3>
					back to home
				</h3>
			</a>
		</li>
		<li>
			<a href="#about" class="page-scroll-responsive">
				<i class="fa fa-user"></i>
				<h3>
					about
				</h3>
			</a>
		</li>
		<li>
			<a href="#resume" class="page-scroll-responsive">
				<i class="fa fa-globe"></i>
				<h3>
					resume
				</h3>
			</a>
		</li>
		<li>
			<a href="#portfolio" class="page-scroll-responsive">
				<i class="fa fa-book nav-left"></i>
				<h3>
					portfolio
				</h3>
			</a>
		</li>
		<li>
			<a href="#blog" class="page-scroll-responsive">
				<i class="fa fa-paperclip"></i>
				<h3>
					blog
				</h3>
			</a>
		</li>
		<li>
			<a href="#contact" class="page-scroll-responsive">
				<i class="fa fa-envelope"></i>
				<h3>
					contact
				</h3>
			</a>
		</li>

	</ul>
</div><!-- end RESPONSIVE MENU -->

<!-- MAIN CONTENT -->
<section id="content-wrap">
	<div class="container-liquid">
		
		<div class="row">
			<header class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-content">
				<div class="profile-avatar overlay">
					<img src="images/avatar.jpg" alt="My Photo">
				</div>
				<h2>
					John Doe
				</h2>
				<p>
					Hi, I’m a professional <span>UI/UX designrer</span> and <span>web developer</span>. I love being minimal and creative. Do you wanna know about me more? Click on about!
				</p>
			</header>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigations">
				<ul>

					<li id="about-link">			
						<a href="#about" class="page-scroll">
							<h3>
								about
							</h3>
							<i class="fa fa-user nav-left"></i>
						</a>
					</li>	

					<li id="resume-link">
						<a href="#resume" class="page-scroll page-right">
							<h3>
								resume
							</h3>
							<i class="fa fa-globe nav-right"></i>
						</a>
					</li>

					<li id="portfolio-link">
						<a href="#portfolio" class="page-scroll">
							<h3>
								portfolio
							</h3>
							<i class="fa fa-book nav-left"></i>
						</a>
					</li>
				
					<li id="blog-link">
						<a href="#blog" class="page-scroll page-right">
							<h3>
								blog
							</h3>
							<i class="fa fa-paperclip nav-right"></i>
						</a>
					</li>
									
					<li id="contact-link" class="contact-link">
						<a href="#contact" class="page-scroll">
							<h3>
								contact
							</h3>
							<i class="fa fa-envelope nav-left"></i>
						</a>
					</li>
					
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 social-icons">
				<ul>
					
					<li>
						<a href="#">
							<i class="fa fa-facebook"></i>
						</a>
					</li>

					<li>
						<a href="#">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					
					<li>
						<a href="#">
							<i class="fa fa-google-plus"></i>
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</section><!-- end MAIN CONTENT -->